<div className="row">
    <form className="col s12">
        <div className="row">
            <div className="input-field col s12">
                <input placeholder="habit" id="habit_name" type="text" className="validate">
                <label for="habit_name">Habit Name</label>
            </div>            
        </div>
        <div classNameName='row'>
            <div className="input-field col s6">
                <input placeholder="50" id="habit_points" type="number" className="validate">
                <label for="habit_points">Points</label>
            </div>
            <div className="input-field col s6">
                <input placeholder="length" id="habit_length" type="number" className="validate">
                <label for="habit_length">Length in Days</label>
            </div>
        </div>        
    </form>
</div>