.hilite:hover {
  background-color: #009688  ;
}

th, .hilite, td, h3{
  color: 
  white;

  
}

th {
  font-size: 20px;
  font-family: 'Bungee Inline', cursive;
  
}

thead {
  background-color: #009688        ;
}

.row {
 margin-left: 5%;
 margin-right: 5%;

}
.table {
  border: #78909c ;
  border-width: 2px;
}



.habittable, .rewardtable {
  border: #78909c ;
  border-width: 2px;
  background-color: #78909c;
}